@using SnusPunch.Shared.Models.Snus

<div>
    <div class="row gap-1 mt-1 justify-content-end">
        <button class="button button-warning" @onclick="async () => await Close()">Avbryt</button>
        <button class="button button-success" @onclick="async () => await Confirm()">Spara</button>
    </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public SnusModel SnusModel { get; set; }

    private async Task Confirm() => await BlazoredModal.CloseAsync();

    private async Task Close() => await BlazoredModal.CancelAsync();
}
