@page "/Leaderboard"
@using Microsoft.AspNetCore.Components.Authorization
@using SnusPunch.Shared.Models.Snus
@attribute [Authorize]

<PageTitle>SnusPunch - Leaderboard</PageTitle>

<h2>Leaderboard</h2>

<p>
    Hemsidan är just nu under konstruktion.
</p>