@page "/Profile/{UserName}"
@using Microsoft.AspNetCore.Components.Authorization
@using SnusPunch.Shared.Models.Snus
@attribute [Authorize]

<PageTitle>SnusPunch - @UserName</PageTitle>

<h1>Under konstruktion</h1>