@if(IsBusy)
{
    <div class="loading-spinner">
        <img class="spinner-image" src="icon-192.png"/>

        <p id="loadingtext" class="loading-text">
            Laddar...
        </p>
    </div>
}