@using Blazored.Toast
@using Blazored.Toast.Configuration

@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight" RemoveToastsOnNavigation="true" />

<NavMenu />

<main>
    <article>
        @Body
    </article>
</main>
