@using Blazored.Toast
@using Blazored.Toast.Configuration

@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<BlazoredToasts Position="ToastPosition.BottomRight" RemoveToastsOnNavigation="true" />

<NavMenu />

<main>
    <article>
        @Body
    </article>
</main>

<AuthorizeView>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo($"/login");
        }
    </NotAuthorized>
</AuthorizeView>