<header>
     <div class="header-wrapper">
        <a href="">
            <h1>SnusPunch</h1>
        </a>

        <nav>
            <ul>
                <li>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Hem
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="Snus" Match="NavLinkMatch.All">
                        Snus
                    </NavLink>
                </li>
            </ul>
        </nav>
     </div>
 </header>