@using SnusPunch.Web.ViewModels.Snus

<header>
     <div class="header-wrapper">
        <a class="row gap-1 align-items-center" href="">
            <img height="48" src="icon-192.png"/>
            <h1>SnusPunch</h1>
        </a>

        <nav>
            <ul>
                <li>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Hem 
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="Statistics" Match="NavLinkMatch.All">
                        Statistik
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="Snus" Match="NavLinkMatch.All">
                        Snus
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="Users" Match="NavLinkMatch.All">
                        Användare
                    </NavLink>
                </li>
                <li>
                    
                </li>
                <li>
                    <div class="dropdown">
                        <button title="Notifikationer" onclick="togglenotificationDropDown()" class="button-icon">
                            <span class="mingcute--notification-fill" />
                        </button>
                        <div id="notificationDropDown" class="dropdown-content">
                            <p class="dropdown-text">
                                Tomt här!
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button title="Konto" onclick="toggleAccountDropDown()" class="button-drop-down">
                            <img class="profile-picture-round" src="@AuthViewModel.UserInfoModel?.ProfilePictureUrl" />
                        </button>
                        <div id="accountDropDown" class="dropdown-content">
                            <AuthorizeView>
                                <p class="dropdown-text">
                                    @context.User.Identity.Name
                                </p>
                            </AuthorizeView>

                            <hr/>

                            <NavLink class="nav-link" href="Account">
                                Inställningar
                            </NavLink>
                            <button class="button-drop-down" @onclick="async () => await AuthViewModel.Logout()">Logga ut</button>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
     </div>
 </header>

 <script>
    function toggleAccountDropDown() {
        document.getElementById("accountDropDown").classList.toggle("show");
    }

    function togglenotificationDropDown() {
        document.getElementById("notificationDropDown").classList.toggle("show");
    }

    //Stäng om man klickar utanför
    window.onclick = function (event) {
        if (!event.target.matches('.button-drop-down') && !event.target.matches('.button-icon')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
 </script>

@code {
    [Inject] AuthViewModel AuthViewModel { get; set; }

    //TODO
    //Hämta notiser & ändra färg på klockan
 }