@using Microsoft.AspNetCore.SignalR.Client
@using SnusPunch.Web.Identity
@using SnusPunch.Web.ViewModels.Snus

<header>
     <div class="header-wrapper">
        <a class="row gap-1 align-items-center" href="">
            <img height="48" src="icon-192.png"/>
            <h1>SnusPunch</h1>
        </a>

        <nav>
            <ul>
                <li>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="material-symbols--home" />
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="Statistics" Match="NavLinkMatch.All">
                        <span class="icomoon-free--stats-bars" />
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="Snus" Match="NavLinkMatch.All">
                        <span class="material-symbols--circle"/>
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="Users" Match="NavLinkMatch.All">
                        <span class="mdi--users" />
                    </NavLink>
                </li>
                <li>
                    <div class="dropdown">
                        <button title="Vänförfrågningar" onclick="toggleFriendRequestsDropDown()" class="button-icon button-icon-vertical">
                            <span class="weui--add-friends-filled" />
                        </button>
                        <div id="friendRequestDropDown" class="dropdown-content">
                            <p class="dropdown-text">
                                Du har inga vänförfrågningar! :(
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button title="Notifikationer" onclick="togglenotificationDropDown()" class="button-icon button-icon-vertical">
                            <span class="mingcute--notification-fill" />
                        </button>
                        <div id="notificationDropDown" class="dropdown-content">
                            <p class="dropdown-text">
                                Du har inga notifikationer!
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button title="Konto" onclick="toggleAccountDropDown()" class="button-drop-down">
                            <img class="profile-picture-round" src="@AuthViewModel.UserInfoModel?.ProfilePictureUrl" />
                        </button>
                        <div id="accountDropDown" class="dropdown-content">
                            <AuthorizeView>
                                <NavLink class="nav-link mn" href="@($"Profile/{context.User.Identity.Name}")">
                                    <div class="row gap-05 align-items-center px-05">
                                        <img class="profile-picture-round" src="@AuthViewModel.UserInfoModel?.ProfilePictureUrl" />

                                        <p class="dropdown-text">
                                            @context.User.Identity.Name
                                        </p>
                                    </div>
                                </NavLink>
                            </AuthorizeView>

                            <hr/>

                            <NavLink class="nav-link" href="Account">
                                Inställningar
                            </NavLink>
                            <button class="button-drop-down" @onclick="async () => await AuthViewModel.Logout()">Logga ut</button>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
     </div>
 </header>

 <script>
    function toggleAccountDropDown() {
        document.getElementById("accountDropDown").classList.toggle("show");
        document.getElementById("friendRequestDropDown").classList.remove("show");
        document.getElementById("notificationDropDown").classList.remove("show");
    }

    function togglenotificationDropDown() {
        document.getElementById("notificationDropDown").classList.toggle("show");
        document.getElementById("friendRequestDropDown").classList.remove("show");
        document.getElementById("accountDropDown").classList.remove("show");
    }

    function toggleFriendRequestsDropDown() {
        console.log("friend");
        document.getElementById("friendRequestDropDown").classList.toggle("show");
        document.getElementById("notificationDropDown").classList.remove("show");
        document.getElementById("accountDropDown").classList.remove("show");
    }

    //Stäng om man klickar utanför
    window.onclick = function (event) {
        if (!event.target.matches('.button-drop-down') && !event.target.matches('.button-icon')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
 </script>

@code {
    [Inject] IConfiguration Configuration { get; set; }
    [Inject] AuthViewModel AuthViewModel { get; set; }
    [Inject] CookieHandler CookieHandler { get; set; }

    private HubConnection? mHubConnection;

    protected override async Task OnInitializedAsync() 
    {
        try 
        {
            mHubConnection = new HubConnectionBuilder().WithUrl(Configuration["BaseUrl"] + "Notifications").Build();
            await mHubConnection.StartAsync();
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Kunde inte ansluta till notifikationscentret: {ex.Message}");
        }
        
    }
 }