@page "/Account"
@using Microsoft.AspNetCore.Components.Authorization
@using SnusPunch.Shared.Models.Snus
@attribute [Authorize]

<PageTitle>SnusPunch - Konto</PageTitle>

<h2>Ditt konto</h2>

<p>
    Hemsidan är just nu under konstruktion.
</p>

<AuthorizeView>
    <p>
        <b>UserName: </b> @context.User.Identity.Name
    </p>
    <p>
        <b>AuthenticationType: </b> @context.User.Identity.AuthenticationType
    </p>
    <p>
        <b>Identities: </b> @string.Join(", ", context.User.Identities.Select(x => x.Name))
    </p>
    <p>
        <b>Claims: </b> @string.Join(", ", context.User.Claims.Select(x => x.Value))
    </p>
</AuthorizeView>