<MessageComponent Errors="AuthViewModel.Errors" SuccessMessages="AuthViewModel.SuccessMessages" IsBusy="AuthViewModel.IsBusy" />

<EditForm Model="mChangePasswordRequestModel" OnValidSubmit="Confirm">
    <DataAnnotationsValidator />

    <p>
        <ValidationSummary />
    </p>

    <p>
        <label for="userName">Nuvarande Lösenord</label>
        <input type="password" @bind="mChangePasswordRequestModel.CurrentPassword" id="userName" class="full-width" />
    </p>

    <p>
        <label for="password">Nytt Lösenord</label>
        <input type="password" @bind="mChangePasswordRequestModel.NewPassword" id="password" class="full-width" />
    </p>

    <p>
        <label for="confirmPassword">Bekräfta Nytt Lösenord</label>
        <input type="password" @bind="mChangePasswordRequestModel.ConfirmNewPassword" id="confirmPassword" class="full-width" />
    </p>

    <div class="row gap-1">
        <button class="full-width button-success" type="submit">Byt Lösenord</button>
        <button @onclick="async () => await Close()" class="full-width button-warning" type="button">Avbryt</button>
    </div>
    
</EditForm>