@page "/Register"
@layout EmptyLayout

<PageTitle>SnusPunch - Registrering</PageTitle>

<MessageComponent Errors="AuthViewModel.Errors" SuccessMessages="AuthViewModel.SuccessMessages" IsBusy="AuthViewModel.IsBusy" />

<div class="center box">
    <h2>Registrering</h2>

    <EditForm Model="mRegisterModel" OnValidSubmit="Register">
        <DataAnnotationsValidator />

        <p>
            <ValidationSummary />
        </p>
        
        <p>
            <label for="userName">Användarnamn</label>
            <input @bind="mRegisterModel.UserName" id="userName" class="full-width" />
        </p>

        <p>
            <label for="email">E-post</label>
            <input @bind="mRegisterModel.Email" id="email" class="full-width" />
        </p>

        <p>
            <label for="password">Lösenord</label>
            <input type="password" @bind="mRegisterModel.Password" id="password" class="full-width" />
        </p>

        <p>
            <label for="password">Bekräfta Lösenord</label>
            <input type="password" @bind="mRegisterModel.ConfirmPassword" id="password" class="full-width" />
        </p>

        <button class="full-width" type="submit">Registrera</button>
    </EditForm>

    <p class="text-center">
        Redan medlem? <a href="login">Logga in!</a>
    </p>
</div>