@page "/ResetPassword"
@layout EmptyLayout

<PageTitle>SnusPunch - Återställ Lösenord</PageTitle>

<MessageComponent Errors="AuthViewModel.Errors" SuccessMessages="AuthViewModel.SuccessMessages" IsBusy="AuthViewModel.IsBusy" />

<div class="center box">
    <h2>Återställ Lösenord</h2>

    <EditForm Model="mResetPasswordRequestModel" OnValidSubmit="ResetPassword">
        <DataAnnotationsValidator />

        <p>
            <ValidationSummary />
        </p>

        <p>
            <label for="email">E-post</label>
            <input @bind="mResetPasswordRequestModel.Email" id="email" class="full-width" />
        </p>

        <p>
            <label for="password">Lösenord</label>
            <input type="password" @bind="mResetPasswordRequestModel.Password" id="password" class="full-width" />
        </p>

        <p>
            <label for="password">Bekräfta Lösenord</label>
            <input type="password" @bind="mResetPasswordRequestModel.ConfirmPassword" id="password" class="full-width" />
        </p>

        <button class="full-width mb-1" type="submit">Bekräfta Nytt Lösenord</button>
    </EditForm>
</div>