@page "/Statistics"
@using Microsoft.AspNetCore.Components.Authorization
@using SnusPunch.Shared.Models.Snus
@attribute [Authorize]

<PageTitle>SnusPunch - Statistik</PageTitle>

<h2>Statistik</h2>

<p>
    Hemsidan är just nu under konstruktion.
</p>