@page "/Snus"

<PageTitle>SnusPunch - Snus</PageTitle>

<MessageComponent IsBusy="SnusViewModel.IsBusy"/>

<h1>Snus</h1>

<table>
    <thead>
        <tr>
            <th>Snus</th>
            <th>Pris (SEK)</th>
            <th>Antal Portioner (st)</th>
            <th>Vikt per Dosa (g)</th>
            <th>Nikotinhalt (mg/g)</th>
            <th>Pris per Portion (SEK)</th>
            <th>Niktoin per Portion (mg)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Knox White Stark Portion</td>
            <td>31,49</td>
            <td>24</td>
            <td>19,2</td>
            <td>16</td>
            <td>1,31</td>
            <td>12,8</td>
        </tr>
        <tr>
            <td>Knox White Stark Portion</td>
            <td>31,49</td>
            <td>24</td>
            <td>19,2</td>
            <td>16</td>
            <td>1,31</td>
            <td>12,8</td>
        </tr>
        <tr>
            <td>Knox White Stark Portion</td>
            <td>31,49</td>
            <td>24</td>
            <td>19,2</td>
            <td>16</td>
            <td>1,31</td>
            <td>12,8</td>
        </tr>
        <tr>
            <td>Knox White Stark Portion</td>
            <td>31,49</td>
            <td>24</td>
            <td>19,2</td>
            <td>16</td>
            <td>1,31</td>
            <td>12,8</td>
        </tr>
    </tbody>
</table>